*{
    padding: 0;
    margin: 0;
    transition: 0.5s;
    font-family: 'Ubuntu', sans-serif;

}
a{
    text-decoration: none;
}

/* Navbar */

.navbar{
    width: 100%;
    height: 80px;
    background-color: black;
    display: flex;
}
.navbar .logo{
    width: 75px;
    border-radius: 15px;
    padding: 2px;
    margin-left: 1rem;
    display: flex;
    align-items: center;
    color: white;
}
.navbar .navitems{
    margin-left: auto;
    margin-top: 26px;

}
.navbar .navitems a{
    color: white;
    text-decoration: none;
    margin-right: 90px;
    transition: 0.5s;
}
.navbar .navitems a:hover{
    color: blue;
    text-decoration: underline;
}


/*Slider*/
.imagesSlider img{
    width: 100%; 
    height: 700px;

}
.slider .infos{
    position: absolute;
    top: 20rem;
    left: 7rem;

}
.slider .infos h1{
    font-size: 60px;
}
.slider .infos h4{
    font-size: 30px;
}
.slider .infos button{
    width: 190px;
    height: 40px;
    border-radius: 15px;
    border: none;
    color: white;
    margin-left: 5rem;
    text-align: center;
    margin-top: 15px;
    background-color: rgb(34, 34, 34);
}
.slider .infos button:hover{
    margin-top: 0.5rem;
    cursor: pointer;

}


/* Main cards  */
.main{
    margin: auto;
    width: 80%;
    padding: 5rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
 
}
.main .card{
    width: 230px;
    height: 280px;
    background-color: rgb(232, 232, 232);
    text-align: center;
    margin-top: 1rem;
    border-radius: 5px;
} 

.cardImg{
    width: 30%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 15px;

}
.main .card button{
    width: 120px;
    height: 30px;
    margin-top: 8px;
    border-radius: 5px;
    border: none;
    background-color: rgb(243, 104, 66);
}
.main .card button:hover{
    background-color: rgb(242, 70, 23);
    cursor: pointer;
}
.seeMoreBtn{
    margin: auto;
    width: 180px;
    height: 50px;
    margin-top: 1px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: rgb(1, 1, 1);
    font-size: 20px;
}

.seeMoreBtn button{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: rgb(1, 1, 1);
    font-size: 20px;
}
.seeMoreBtn button:hover{
    background-color: rgb(43, 43, 43);
    cursor: pointer;transform: scale(1.02);
}

/* aboutUs */
.aboutUs{
    padding-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.title{
    text-align: center;
    font-size: 50px;

}
.middleAboutUs{
    padding-top: 5rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    align-items: center;
    text-align: center;
}
.middleAboutUs img{
    width: 500px;
    border-radius: 15px;
}
.middleAboutUs p{
    width: 50%;
}

/*  footer */

.footer{

    background-color: black;
    padding: 2rem;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-items: center;
    padding-bottom: 5rem;

}
.footerCard{
    margin-top: 15px;
    width: 250px;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    text-align: center;
}
.footerCard h1{
    font-size: 30px;
    padding: 10px;
}


/* cart */

/* table */

.tableItems{
    margin: auto;
    width: 80%;
    text-align: center;

}
table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;

}
th{
    border-radius: 10px 10px 0 0;
    width: 16.6%;
    background-color: rgb(229, 105, 56);
}
td{
    border: 1px solid rgb(171, 167, 167);
    width: 16.6%;
}
.cartProductImage{
    width: 60px;
    height: 80px;
    padding: 5px;
    border-radius: 10px;
}
#numberCart{
    width: 30px;

}
hr{
    width: 30px;
    height: 2px;
    background-color: rgb(255, 0, 0);
    border: none;
}

/* totalTable  */

.totalTable{
    width: 40%;
    padding-right: 10%;
    margin-left: auto;
    text-align: center;
}

.totalTable td{
    border: none;
    width: 16.6%;
}
.updateBtn{
    height: 40px;
    background-color: rgb(229, 105, 56);
    color: rgb(255, 255, 255);
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
.updateBtn:hover{
    cursor: pointer;
    background-color: rgb(234, 28, 28);
    scale: 1.02;
}
.removeBtn{
    height: 40px;
    background-color: rgb(221, 28, 28);
    color: rgb(255, 255, 255);
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
.removeBtn:hover{
    cursor: pointer;
    background-color: rgb(255, 0, 0);
    scale: 1.02;
}

/* sideBar */
.sideBar{
    width: 40%;
    position: absolute;
    right: 0;
    top : 0;
    height: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    display: none;
}
.sideItems a{
    color: white;
    margin-top: 3rem;

}
.sideItems a:hover{
    color: blue;
}
.sideItems{
    margin-top: 40%;
    display: grid;
    text-align: center;

}
.closeBtn{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    
}
.closeBtn:hover{
    cursor: pointer;
}
.sideIcon{
    padding: 10px;
    display: none;
}
.sideIcon:hover{
    cursor: pointer;
    scale: 1.02;
}

/* media */

@media screen and (max-width: 1100px) {
    .navitems a{
        display: none;
    }
    .sideIcon{
        padding: 10px;
        display: block;
    }
    .middleAboutUs p{
        margin-top: 2rem;
        width: 80%;
    }
    .title{
        font-size: 40px;
    }
    .imagesSlider img{
        width: 100%; 
        height: 600px;
    }
    .slider .infos{
        position: absolute;
        top: 18rem;
        left: 6rem;
        width: 150px;
    }
    .slider .infos h1{
        font-size: 50px;
    }
    .slider .infos h4{
        font-size: 25px;
    }
    .slider .infos button{
        width: 170px;
        height: 35px;
    }
    .tableItems{
        width: 90%;
    }
   
}
@media screen and (max-width: 800px){
    .middleAboutUs img{
        width: 80%;
        border-radius: 15px;
    }
    .title{
        font-size: 30px;
    }
    .totalTable{
        width: 80%;
    }
    .imagesSlider img{
        width: 100%; 
        height: 450px;
    
    }
    .slider .infos{
        position: absolute;
        top: 15rem;
        left: 5rem;
        width: 150px;
    }
    .slider .infos h1{
        font-size: 40px;
    }
    .slider .infos h4{
        font-size: 20px;
    }
    .slider .infos button{
        width: 160px;
        height: 33px;
        margin-right: 100px;
    }
    .tableItems{
        width: 100%;
    }
    #clearDatabase{
        width: 100px;
        padding: 5px;
    }
}